* {
	padding: 0;
	margin: 0;
}

#myCanvas {
	background-image: url(../img/background.jpg);
	display: block;
	width: 100vw;
	height: 100vh;
}
#gameover{
    position: absolute;
    width : 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
}
#youlose{
    width:75vw;
    position: absolute;
    top: 30vh;
    left : 12.5vw;
    display: none;
}
#restart{
    position: absolute;
	width:30vw;
    top: 60vh;
	left : 35vw;
	display: none;
}
#next_lvl{
    width:75vw;
    position: absolute;
    top: 30vh;
    left : 12.5vw;
    display: none;
}
#youwon{
    width:75vw;
    position: absolute;
    top: 30vh;
    left : 12.5vw;
    display: none;
}